html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: black;
}

.app {
  width: 100%;
  height: 100vh;
}

* {
  user-select: none;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}

button {
  padding: 1rem 2rem;
  margin: .5rem;
}

.randomize {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin: 2rem;
  padding: 1rem;
  transform: translateX(calc(-50% - 2rem));
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  // outline: 1px solid rgba(255, 255, 255, .2);
}

.debug {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  color: white;
}

.vibrating {
  position: absolute;
  top: 3rem;
  left: 2rem;
  width: 1rem;
  height:1rem;
  background-color: green;
  border-radius: 50%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}